<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_t23cJt9n77-yU4T8CRHJ8DlDEii4jpk</string>
	<key>GCM_SENDER_ID</key>
	<string>447730302991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sandbox</string>
	<key>PROJECT_ID</key>
	<string>sandbox-intermediate-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>sandbox-intermediate-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447730302991:ios:cef412b7150ac6ae11e37a</string>
</dict>
</plist>